<h1 mat-dialog-title>Changelog</h1>
<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let section of (changelog ? changelog.split('<h2>').slice(1) : []); let i = index" [expanded]="i === 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div [innerHTML]="'<h3>' + section.split('</h2>')[0] + '</h3>'"></div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div [innerHTML]="section.split('</h2>').slice(1).join('</h2>')"></div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button (click)="onClose()">OK</button>
</div>
