<mat-card>
  <mat-card-content>
    <mat-toolbar class="mat-card-title" color="primary"><div>DateTimePicker</div><div></div></mat-toolbar>
    <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit($event)">
      <mat-form-field class="full-width">
        <mat-label>Start date</mat-label>
        <input formControlName="startDate" matInput [mtxDatetimepicker]="datetimePicker" (dateChange)="sendStartDate()"/>
        <mtx-datetimepicker type="datetime" #datetimePicker
                            [type]="'datetime'"
                            [multiYearSelector]="true"
                            [timeInterval]="1"
                            [mode]="'portrait'"
        >
          <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button (click)="datetimePicker.close()">Ok</button>
          </mat-dialog-actions>
        </mtx-datetimepicker>

        <mtx-datetimepicker-toggle [for]="datetimePicker" matSuffix>
        </mtx-datetimepicker-toggle>
      </mat-form-field>

      <mat-card-footer>
        <mat-card-actions>
          <button mat-raised-button type="submit" color="accent" style="margin-right: 8px;">Save</button>
          <button mat-raised-button [color]="currentLocale === 'de-DE' ? 'primary' : 'accent'" (click)="switchToGerman()" style="margin-right: 8px;">German</button>
          <button mat-raised-button [color]="currentLocale === 'en-US' ? 'primary' : 'accent'" (click)="switchToEnglish()" style="margin-right: 8px;"> US </button>
          <button mat-raised-button [color]="currentLocale === 'fr-FR' ? 'primary' : 'accent'" (click)="switchToFrench()" style="margin-right: 8px;">French</button>
          <button mat-raised-button [color]="currentLocale === 'en-GB' ? 'primary' : 'accent'" (click)="switchToBritishEnglish()" color="accent"> UK </button>
        </mat-card-actions>
      </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>

<app-data>
</app-data>
