<mat-card>
  <mat-card-content>
    <mat-toolbar class="mat-card-title" color="primary">
      <div>Selected Values</div>
    </mat-toolbar>
    <span style="text-align: left; display: block;">Start-Date: {{ startDate ? (startDate | localizedDate) : 'N/A' }}</span>
    <span style="text-align: left; display: block;">Current local: {{ currentLocale }}</span>
    <button mat-button (click)="setCurrentDate()" color="accent">Set current Datetime</button>
    <button mat-button (click)="clearDate()" color="accent">Clear Date</button>
    <button mat-button (click)="togglePickerType()" color="accent">
      {{ showTime ? 'Ohne Uhrzeit anzeigen' : 'Mit Uhrzeit anzeigen' }}
    </button>

    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" class="rounded-toggle-group" [(value)]="showTime" (change)="togglePickerType()">
      <mat-button-toggle [value]="false" class="rounded-toggle">
        <span class="material-symbols-outlined">calendar_month</span> Ohne Uhrzeit
      </mat-button-toggle>
      <mat-button-toggle [value]="true" class="rounded-toggle">
        <span class="material-symbols-outlined">calendar_clock</span> Mit Uhrzeit
      </mat-button-toggle>
    </mat-button-toggle-group>

  </mat-card-content>
</mat-card>
